<mat-toolbar color="primary">
  Work Timer
  <span fxFlex></span>
  <button mat-icon-button
          (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-card style="margin: 8px;">
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title style="margin-bottom: 0;">
      <span>Working day duration: {{workDayDuration}}</span>
    </mat-card-title>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="openWorkingDayDurationEditor()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="clock"><p>{{ milliseconds | date: 'H:mm:ss' : '+0000' }}</p></div>
  </mat-card-content>
  
  <mat-card-actions fxLayoutAlign="space-around">
    <button (click)="startTimer()"
            [disabled]="startDisabled"
            mat-mini-fab
            color="primary">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button (click)="pauseTimer()"
            [disabled]="pauseDisabled"
            mat-mini-fab
            color="accent">
      <mat-icon>pause</mat-icon>
    </button>
    <button (click)="refreshTimer()"
            [disabled]="startDisabled"
            mat-mini-fab
            color="warn">
      <mat-icon>replay</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<button mat-fab
        color="primary"
        class="add-task-button"
        (click)="openTaskCreationForm()">
  <mat-icon>add</mat-icon>
</button>

<app-task-list></app-task-list>
