<mat-toolbar color="primary">Work Timer</mat-toolbar>
<mat-card style="margin: 8px;">
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title style="margin-bottom: 0;">
      <span>Working day duration: 8h</span>
    </mat-card-title>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="openWorkingDayDurationEditor()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="clock"><p>{{ seconds * 1000 - 10800000 | date: 'H:mm:ss' }}</p></div>
  </mat-card-content>
  
  <mat-card-actions fxLayoutAlign="space-around">
    <button (click)="startTimer()"
            [disabled]="startDisabled"
            mat-flat-button
            color="primary">
      Start
    </button>
    <button (click)="pauseTimer()"
            [disabled]="pauseDisabled"
            mat-flat-button
            color="accent">
      Pause
    </button>
    <button (click)="refreshTimer()"
            [disabled]="startDisabled"
            mat-flat-button
            color="warn">
      Refresh
    </button>
  </mat-card-actions>
</mat-card>

<mat-card style="margin: 8px;"
          *ngIf="addNewTask">
  <mat-card-header>
    <mat-card-title>Create Task</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="taskGroup" fxLayout="column">
      <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="Title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="description" placeholder="Description" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px">
    <button mat-flat-button
            color="accent"
            (click)="cancel()">
      Cancel
    </button>
    <button mat-flat-button
            color="primary"
            (click)="submit()"
            [disabled]="taskGroup.invalid">
      Submit
    </button>
  </mat-card-actions>
</mat-card>

<app-task-list></app-task-list>
