<mat-toolbar color="primary">Work Timer</mat-toolbar>
<mat-card style="margin: 8px;">
  <mat-card-header>Working day duration: 8h</mat-card-header>

  <mat-card-content>
    <div class="clock"><p>{{ seconds * 1000 - 10800000 | date: 'H:mm:ss' }}</p></div>
  </mat-card-content>
  
  <mat-card-actions fxLayoutAlign="space-around">
    <button (click)="startTimer()"
            [disabled]="startDisabled"
            mat-flat-button
            color="primary">
      Start
    </button>
    <button (click)="pauseTimer()"
            [disabled]="pauseDisabled"
            mat-flat-button
            color="accent">
      Pause
    </button>
    <button (click)="refreshTimer()"
            [disabled]="startDisabled"
            mat-flat-button
            color="warn">
      Refresh
    </button>
  </mat-card-actions>
</mat-card>

<mat-card style="margin: 8px;"
          *ngIf="addNewTask">
  <form [formGroup]="taskGroup">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="description" placeholder="Description">
    </mat-form-field>
  </form>
  <mat-card-actions fxLayoutAlign="end">
    <button mat-flat-button
            color="primary"
            (click)="submit()">
      Submit
    </button>
    <button mat-flat-button
            color="accent">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>

<mat-card style="margin: 8px;">
  <mat-card-header>
    <mat-card-title>Finished Tasks</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let task of tasks">
        <p mat-line>{{ task.title }}</p>
        <p mat-line>{{ task.description }}</p>
        <p mat-line>Start: {{ task.startTime | date: 'H:mm:ss' }}</p>
        <p mat-line>Duration: {{ task.duration | date: 'H:mm:ss' }}</p>
        <button mat-icon-button (click)="deleteTask(task.startTime)"><mat-icon>delete</mat-icon></button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
