<h1 mat-dialog-title>Set your working day duration</h1>
<div mat-dialog-content>
  <form [formGroup]="timeGroup">
    <mat-form-field>
      <mat-label>Hour</mat-label>
      <input matInput type="number" min="0" max="23" formControlName="hour">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Minutes</mat-label>
      <input matInput type="number" min="0" max="59" formControlName="minutes">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <span fxFlex></span>
  <button mat-raised-button
          (click)="onCloseClick()">
    Cancel
  </button>
  <button mat-raised-button 
          color="primary"
          (click)="onConfirmClick()">
    Confirm
  </button>
</div>
