<mat-card style="margin: 20px">
  <mat-card-header>
    <mat-card-title>{{config[action].label}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="credentialsForm" fxLayout="column">
      <mat-form-field fxFlex appearance="outline">
        <input type="email"
               matInput
               placeholder="Email"
               formControlName="email">
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>
      
      <mat-form-field fxFlex appearance="outline">
        <input type="password"
               matInput
               placeholder="Password"
               formControlName="password">
        <mat-icon matPrefix>vpn_key</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <span fxFlex></span>
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button
            color="primary"
            (click)="submit()">
      Submit
    </button>
  </mat-card-actions>
</mat-card>

<div *ngIf="action === 'LOGIN'">
  <h2 style="text-align: center;">New User?</h2>
  <p style="text-align: center;">
    <a (click)="action = 'REGISTER'">Register</a>
  </p>
</div>

<div *ngIf="action === 'REGISTER'">
  <h2 style="text-align: center;">Already have account?</h2>
  <p style="text-align: center;">
    <a (click)="action = 'LOGIN'">Login</a>
  </p>
</div>
